#sidebar-branches.sidebar
  %h1 Branches 
  #branches-controls
    = label_tag :filter_merged do
      = check_box_tag :filter_merged, "1", false, :id => "filter_merged_checkbox"
      Filter merged with master
    %br
    = label_tag :filter_remotes do
      = check_box_tag :filter_remotes, "1", false, :id => "filter_remotes_checkbox"
      Filter remote branches
    =text_field_tag :filter_names, "", :placeholder => "Filter branch names", :id => "filter_names_input"
    =text_field_tag :show_commit, "", :placeholder => "Show commit", :id => "show_commit_input", :class => "commit_filters_input"
    =text_field_tag :exclude_commit, "", :placeholder => "Exclude commit", :id => "exclude_commit_input", :class => "commit_filters_input"
    =link_to "Apply Filters", "#", :class => "btn btn-large btn-block apply-btn", :id => "apply-filters-btn"
  #authors-list
#branches-display  
  #vis-loading
    %h4 Loading Repository Data...
    =image_tag "visualisations/ajax-loader.gif"
#commits-toolbar{:style => "display: none"}
  #commit-details
    %h3{:id => "branch_name"}  
    =link_to "Back to branches", "#", :id => "back-to-branches-btn"
    %p{:id => "commit_sha"}
    %p{:class => "small"}
      %span{:id => "commit_author"}
      %br
      %span{:id => "commit_message"}
  #history-graph
    %a{:id => "clear_history_filters", :href => '#'} Clear filter
#commits-display
